services:
  - type: web
    name: ytbot
    env: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python bot.py"
    disk:
      name: data
      mountPath: /data
      sizeGB: 10
